body {
   margin:0;
    padding:0;
}
   
.anim {
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -209px;
    margin-top: -129px;
    animation: rotating 4s linear infinite;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


@keyframes slideUp{
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp2{
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-50%);
    }
}

.curtain{
    top:100%;
    opacity: 0;
    animation: slideUp 2s forwards;
    width: 100%
}
.curtain2 {
    top:100%;
    opacity: 1;
    width: 100%;
    animation: slideUp2 2s forwards;
}

.alpaca{
  opacity: 0;
    position: absolute;
    z-index: 10;
    top: 450px;
    left:50%;
    width:200px;
    margin-left:-100px;
    animation: fadein 5s 3s forwards;
}
.alpaca2{
    opacity: 1;
    position: absolute;
    z-index: 10;
    top: 450px;
    left:50%;
    width:200px;
    margin-left:-100px;
    cursor:url('img/patme32px.png'),auto;
}
@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.infobox {
    background-color: #fff;
    border-radius:12px;
    height: 500px;
    width:300px;
    position: absolute;
    z-index: 10;
    top: 300px;
    left:300px;
    padding: 20px;
    display:none;
}

.infobox ul {
    font-family: monospace;
    font-size: 25px;
    color:grey;
}
